---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: What
  order: 2
---

<h1>Active collaborations and the pipeline of ideas</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
