---
layout: layouts/home.njk
eleventyNavigation:
  key: Why
  order: 1
---

As a species we have been one of the most competitive and divided. The rise of Web 3 signals that this is an evolutionary cycle , and we are heading back into an age of what is commonly called as “communities”.

<p>“PRSPR” is building a shared prosperity model that is getting
individuals to share with each other different risks, skills,
resources and such, and converge as a community/communities. With use
cases in health, DeFi, businesses, climate adaptation, and financing, PRSPR uses web 3 tools to make coming together as a community both meaningful and profitable.</p>

If you are interested and moved by the idea of sharing collaborating
at scale with fellow humans, PRSPR is the place to be!

We currently have,
<ol>
<li><a href="https://drive.google.com/drive/folders/1Sh7tXZyU2iO6tMwiLiIYdXbkTq1j_pWJ?usp=sharing">Reading Group</a></li>
<li>Telegram Group <i>[TBA]</i></li>
<li>An experiment in DAO based payment system <i>[TBA]</i></li>
</ol>

Please do <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6B%72%73%68%61%69%6C%61%62%68%40%75%70%6C%69%66%74%6D%75%74%75%61%6C%73%2E%6F%72%67">write to us</a> if you wish to join.
