---
layout: home.njk
eleventyNavigation:
  key: Why
  order: 1
---

<p>“PRSPR” is building a shared prosperity model for
individuals to share with each other, different risks, skills,
and resources, and therefore converge as a community or communities.
With use cases in health, financing, businesses, climate adaptation, and
financing, PRSPR uses a nuanced approach to make coming together as a
community both meaningful and profitable.</p>

If you are interested and moved by the idea of sharing collaborating
at scale with fellow humans, PRSPR is the place to be!

We currently have,
<ol>
<li><a href="https://drive.google.com/drive/folders/1Sh7tXZyU2iO6tMwiLiIYdXbkTq1j_pWJ?usp=sharing">Reading Group</a></li>
<li>Telegram Group <i>[TBA]</i></li>
<li>An experiment with DAO based credit system <i>[TBA]</i></li>
</ol>

Please do <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6B%72%73%68%61%69%6C%61%62%68%40%75%70%6C%69%66%74%6D%75%74%75%61%6C%73%2E%6F%72%67">write to us</a> if you wish to join.
